<!-- Leaflet CSS file -->
<link rel="stylesheet" href="/vendor/leaflet/leaflet.css">
<link rel="stylesheet" href="/vendor/leaflet/MarkerCluster.css">
<!-- Leaflet Marker Cluster CSS files -->
<link rel="stylesheet" href="/vendor/leaflet/MarkerCluster.Default.min.css">

<!-- Map -->
{{ $events := .events }}
<div id="map" aria-label="Django 20th Anniversary Event Locations"></div>
<script>
    const singleEventData = {{ .sigleEvent | default "null" }};
    const eventsData = {
        "type": "FeatureCollection",
        "features": [
            {{- range $index, $event := $events }}
            {
                "type": "Feature",
                "properties": {
                    "name": {{ .Title }},
                    "slug": {{ .Slug }},
                    "date": {{ .Params.event_date }},
                    "end_date": {{ .Params.event_date_end }},
                    "address": {{ if eq .Params.event_type "in_person" }}{{ .Params.venue_address }}{{ else }}{{ .Params.event_type }}{{ end }},
                    "description": {{ .Description }},
                    "event_type": {{ .Params.event_type }},
                    "event_category": {{ .Params.event_category }},
                    "host": {{ .Params.event_host }},
                    "website": {{ .Params.event_url | default .Permalink }},
                    "event_category_label": {{ .Params.event_category }}
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        {{ .Params.longitude }},
                        {{ .Params.latitude }}
                    ]
                }
            }{{ if ne (add $index 1) (len $events) }},{{ end }}
            {{- end }}
        ]
    };
</script>

<!-- Leaflet JS file -->
<script src="/vendor/leaflet/leaflet.js"></script>
<script src="/vendor/leaflet/leaflet.markercluster.js"></script>

<!-- project JS file -->
{{ with resources.Get "js/events_map.js" }}
  {{ with . | fingerprint "sha256" }}
    <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}
{{ end }}
