.privacy-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;      
  max-width: 560px;         
  margin: 1em auto;
  position: relative; 
}

.privacy-placeholder img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1em;
}

.privacy-placeholder p {
  font-size: 25px;
  margin: 1em 0;  
}

.privacy-placeholder button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7em 1em;
  background: rgb(255, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}

.privacy-placeholder button:hover {
  background: rgb(223, 30, 30);
}